body{
  background-color: pink;
}
hr{
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  width: 10%;
  border-color: grey;
}

h1{
color: Crimson;
}
h2{
  color: Crimson;
}
h3{
  color: Crimson;
}
